* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
/*--------------------*/

.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0px;
	z-index: 8;
	border: 2px solid black;
}
.header::before {
	content: "";
	position: absolute;
	width: 1600px;
	top: 0;
	left: 0;
	height: 100%;

	z-index: 3;
}

.header__body {
	position: relative;

	display: flex;
	justify-content: space-between;
	height: 145px;
	align-items: center;
}
.header__logo {
	flex: 0 0 100px;
	position: relative;
	margin: 9px 0 0 264px;
	z-index: 3;
}
.header__logo a:hover {
	display: none;
	border: none;
}

.header__logo img {
	max-width: 100%;
	display: block;
}
.header__burger {
	display: none;
}
.header__menu {
}
.header__list {
	display: flex;
	position: relative;
	margin: 29px 150px 0 0;
	z-index: 2;
}
.header__list li {
	list-style: none;
	margin: 0 0 0 24px;
}

.header__link {
	font-family: ProximaNova;
	font-size: 14px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 2.71;
	letter-spacing: 0.7px;
	text-align: right;
	color: #ffffff;
}
li:hover {
	width: 53px;
	height: 3px;

	border-bottom: 3px solid #ff8b00;
}
@media (max-width: 767px) {
	body.lock {
		overflow: hidden;
	}
	.header__body {
		height: 60px;
	}
	.header__logo {
		flex: 0 0 40px;
	}
	.header__burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		position: relative;
		z-index: 5;
	}
	.header__burger span {
		position: absolute;
		background-color: #ff8b00;
		left: 0;
		width: 100%;
		height: 2px;
		top: 9px;
		transition: all 0.3s ease 0s;
	}
	.header__burger::before,
	.header__burger::after {
		content: "";
		background-color: #ff8b00;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.header__burger::before {
		top: 0;
	}
	.header__burger::after {
		bottom: 0;
	}
	.header__burger.active::before {
		transform: rotate(45deg);
		top: 9px;
	}
	.header__burger.active::after {
		transform: rotate(-45deg);
		bottom: 9px;
	}
	.header__burger.active span {
		transform: scale(0);
	}
	.header__menu {
		position: fixed;
		top: -100%;
		left: 0;
		transition: all 0.3s ease 0s;
		width: 100%;
		height: 100%;
		overflow: auto;
		/*background-color: #7050e5;*/
		padding: 80px;
	}
	.header__menu.active {
		top: 0;
	}
	.header__list {
		display: block;
	}

	.header__list li {
		margin: 0 0 20px 0;
	}
	.header__link {
		font-size: 24px;
	}
}

.content {
	padding: 130px 0 0 0;
}

.content__text {
	font-size: 26px;
}
.content__text p {
	padding: 0 0 20px 0;
}
