/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 3 version
*/

.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-transition: all 0.8s ease 0s;
	-o-transition: all 0.8s ease 0s;
	transition: all 0.8s ease 0s;
}
.popup:target {
	opacity: 1;
	visibility: visible;
}
.popup:target .popup__content {
	-webkit-transform: translate(0px, 0%) perspective(600px) rotate(0deg);
	transform: translate(0px, 0%) perspective(600px) rotate(0deg);
	opacity: 3;
}
.popup__body {
	min-height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 30px 10px;
}
.popup__content {
	background-color: #7050e5b6;
	color: #fff;
	width: 700px;
	height: 500px;
	padding: 30px;
	position: relative;
	-webkit-transform: translate(0px, -100%) perspective(600px) rotatex(45deg);
	transform: translate(0px, -100%) perspective(600px) rotatex(45deg);
	opacity: 0;
	-webkit-transition: all 0.8s ease 0s;
	-o-transition: all 0.8s ease 0s;
	transition: all 0.8s ease 0s;
	text-align: center;
}

.popup__close {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 20px;
	color: #ff8b00;
	text-decoration: none;
}
.popup__title {
	font-size: 40px;
	margin: 0 0 1em 0;
}
.popup__text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 600px;
	margin: 0px auto;
	font-size: 50px;
}
.prod__phone {
	position: absolute;
	top: 50;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	width: 300px;
	height: 300px;
	margin: 200px 0 0 330px;
	background: url(/img/Play\ Icon.png) no-repeat;
}
@media (max-width: 769px) {
	.prod__phone {
		width: 100px;
		height: 300px;
		margin: 30px auto;
		position: absolute;
		padding: 0 0 30px 0;
		bottom: 0;
		left: 700px;
		-webkit-transform: scale(2);
		-ms-transform: scale(2);
		transform: scale(2);
		background: url(/img/Play\ Icon.png) 10px 90px no-repeat;
	}
}
