* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
/*--------------------*/
@font-face {
	font-family: "ProximaNova";
	src: local("ProximaNova bold"), local("ProximaNova semibold"),
		/*local("ProximaNova regular")*/ url(/fonts/ProximaNova-Bold.ttf), url(/fonts/ProximaNova-Semibold.ttf);
	/*url(/fonts/ProximaNova-Regular.ttf);*/
}
body {
	/*max-width: 1600px;
	height: 100%;*/
	margin: 0px auto;
}

.wrapper {
	display: flex;
	min-width: 100%;
	margin: 0 auto;
	/*background: url(/img/Polygon\ Background.png) 0px 0px no-repeat;*/
}
.container {
	background: url(/img/Polygon\ Background.png) 0px 0px no-repeat;
	width: 1600px;
	flex: 0 1 auto;
	margin: 0px auto;
}
@media (max-width: 1500px) {
	.content {
		max-width: 1200px;
		margin: 0px 0px 0 0px;
	}
}
@media (max-width: 1250px) {
	.content {
		max-width: 978px;
		margin: 0px 0 0 0px;
	}
}
@media (max-width: 992px) {
	.content {
		max-width: 750px;
		margin: 0px 0 0 0px;
	}
}
@media (max-width: 767px) {
	.content {
		max-width: 375px;
		margin: 0px 0 0 0px;
	}
}
.content {
	width: 1600px;
	display: flex;
	margin: 0px auto;
}

.header {
	display: flex;
	margin: 0 auto;
}
.header__columns {
	display: flex;
}
.header__left {
}
.header__logo {
	margin: 34px 0 0 225px;
}

.header__right {
	margin: 97px 0 0 491px;
}
.header__list {
	display: flex;
	flex-direction: row;
}
@media (max-width: 767px) {
	.header__list {
		display: none;
	}
}
li {
	font-family: ProximaNova;
	font-size: 14px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 2.71;
	letter-spacing: 0.7px;
	text-align: right;
	color: #ffffff;
	flex-direction: row;
	padding: 14px;
}
a {
	color: #ffffff;
}
a:hover {
	width: 53px;
	height: 3px;

	border-bottom: 3px solid #ff8b00;
}
.about {
	margin: 136px 0 0 305px;
}
.about__nav {
	width: 19px;
	height: 200px;
	display: flex;
	flex-direction: column;
	margin: -205px 0 0 1220px;
}
.pol__1,
.pol__2 {
	display: flex;
	flex-direction: column;
	padding: 15px 0 0;
	margin: 0px 0 0 0;
}
.about__columns {
	display: flex;
	flex: 0 1 50%;
}
.about__left {
	margin: 12px 0 0 -3px;
}
.about__text {
	font-family: ProximaNova;
	font-size: 16px;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.88;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
	padding: 29px 0 0 3px;
}
.about__button {
	width: 174px;
	height: 54px;
	margin: 41px 0 0 3px;
	border-radius: 4px;
	border: solid 1px #ff8b00;
	background-color: #ff8b00;
}
.about__btn {
	color: #ffffff;
	font-family: ProximaNova;
	font-size: 14.5px;
	font-weight: bold;
	background-color: #ff8b00;
	padding: 18px 0 0 40px;
}
.about__right {
	margin: -2px 0 0 226px;
}
.about__logo {
	margin: 65px 0px 0 0;
}
h1 {
	color: #fff;
	font-family: ProximaNova;
	font-size: 55px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.33;
	letter-spacing: normal;
}
.about__label {
	margin: 51px 0 0 480px;
}
.about__label1 {
	margin: -45px 0 0 465px;
}
.about__find {
	font-family: ProximaNova;
	font-size: 16px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.62;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	margin: 148px 0 0 -292px;
}
.info {
	width: 100%;
	height: 382px;
	margin: 60px 0 0 0;
}
.info__columns {
	display: flex;
	margin: 207px 0 0 357px;
	flex: 0 1 33.333%;
}
.info__left {
	margin: 0 0 0 -5px;
}

.info__text {
	font-family: ProximaNova;
	font-size: 60px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.3;
	letter-spacing: normal;
	text-align: center;
	color: #7050e5;
}
.info__subtext {
	font-family: ProximaNova;
	font-size: 16px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.2;
	letter-spacing: normal;
	text-align: center;
	color: #7050e5;
	padding: 38px 0 0 9px;
	text-transform: uppercase;
}
.info__center {
	margin: 0 0 0 62px;
}
.info__right {
	margin: 0 0 0 70px;
}

.what {
	width: 100%;
	height: 1223px;
	background: url(/img/Rectangle\ 1250.png) 1256px 122px no-repeat,
		url(/img/Rectangle\ 1250\ —\ копия.png) 1290px 122px no-repeat, #f8f8f8;
	margin: -160px 0 0 0px;
}
.what {
	scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}
.what__title {
	font-family: ProximaNova;
	font-size: 60px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.3;
	letter-spacing: normal;

	color: #7050e5;
	padding: 175px 0 0 917px;
}
.what__columns {
	display: flex;
	margin: 92px 0 0 318px;
	flex-direction: column;
	flex: 0 1 33.333%;
}
.what__left {
}
.what__img {
	text-align: center;
}
.what__img2 {
	text-align: center;
	margin: 0px 0 0 -2px;
}
.what__img3 {
	margin: 20px 0 0 75px;
}
.what__lable {
	font-family: ProximaNova;
	font-size: 20px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.53;
	letter-spacing: normal;
	text-align: left;
	color: #7050e5;
	margin: 23px 0 0 -5px;
	text-transform: uppercase;
}
.what__lable0 {
	font-family: ProximaNova;
	font-size: 20px;
	font-weight: bold;
	font-stretch: extra-condensed;
	font-style: normal;
	line-height: 1.53;
	letter-spacing: normal;
	text-align: left;
	color: #7050e5;
	margin: 26px 0 0 33px;
	text-transform: uppercase;
}
.what__text {
	font-family: ProximaNova;
	font-size: 15px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.47;
	letter-spacing: normal;
	text-align: left;
	color: #878787;
	margin: 13px 0 0 0;
}
.what__img1 {
	margin: -2px 0 0 -7px;
	text-align: center;
}
.what__img0 {
	margin: 0px 0 0 -22px;
	text-align: center;
}
.what__img4 {
	margin: 30px 0 0 -25px;
	text-align: center;
}
.what__img5 {
	margin: 45px 0 0 -25px;
	text-align: center;
}
.what__lable1 {
	font-family: ProximaNova;
	font-size: 20px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1;
	letter-spacing: normal;
	text-align: left;
	color: #7050e5;
	margin: 29px 0 0 -32px;
	text-transform: uppercase;
}
.what__text1 {
	font-family: ProximaNova;
	font-size: 15px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.47;
	letter-spacing: normal;
	text-align: left;
	color: #878787;
	margin: 2px 0 0 -30px;
}
.what__text0 {
	font-family: ProximaNova;
	font-size: 15px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.47;
	letter-spacing: normal;
	text-align: left;
	color: #878787;
	margin: -2px 0 0 35px;
}
.what__text2 {
	font-family: ProximaNova;
	font-size: 15px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.47;
	letter-spacing: normal;
	text-align: left;
	color: #878787;
	margin: 5px 0 0 35px;
}
.what__text3 {
	font-family: ProximaNova;
	font-size: 15px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.47;
	letter-spacing: normal;
	text-align: left;
	color: #878787;
	margin: 4px 0 0 20px;
}
.what__text4 {
	font-family: ProximaNova;
	font-size: 15px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.47;
	letter-spacing: normal;
	text-align: left;
	color: #878787;
	margin: 4px 0 0 -12px;
}
.what__text5 {
	font-family: ProximaNova;
	font-size: 15px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.47;
	letter-spacing: normal;
	text-align: left;
	color: #878787;
	margin: 5px 0 0 -16px;
}
.what__center {
	margin: 0 0 0 65px;
}
.what__right {
	margin: 0 0 0 30px;
}
.what__left1 {
}
.what__center1 {
	margin: 0 0 0 48px;
}
.what__right1 {
	margin: 0 0 0 55px;
}
.what__head {
	display: flex;
	flex: 0 1 33.333%;
}
.what__foot {
	display: flex;
	margin: 40px 0 0 12px;
	flex: 0 1 33.333%;
}
.what__lable2 {
	font-family: ProximaNova;
	font-size: 20px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1;
	letter-spacing: normal;
	text-align: left;
	color: #7050e5;
	margin: 28px 0 0 30px;
	text-transform: uppercase;
}
.what__lable3 {
	font-family: ProximaNova;
	font-size: 20px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1;
	letter-spacing: normal;
	text-align: left;
	color: #7050e5;
	margin: 25px 0 0 18px;
	text-transform: uppercase;
}
.what__lable4 {
	font-family: ProximaNova;
	font-size: 20px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1;
	letter-spacing: normal;
	text-align: left;
	color: #7050e5;
	margin: 25px 0 0 -15px;
	text-transform: uppercase;
}
.what__lable5 {
	font-family: ProximaNova;
	font-size: 20px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1;
	letter-spacing: normal;
	text-align: left;
	color: #7050e5;
	margin: 29px 0 0 -18px;
	text-transform: uppercase;
}
.prod {
	position: relative;
}
.prod__columns {
	display: flex;
}
.prod__left {
}
.prod__title {
	font-family: ProximaNova;
	font-size: 40px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.45;
	letter-spacing: normal;
	text-align: left;
	color: #7050e5;
	padding: 222px 0 0 159px;
}
.prod__text {
	font-family: ProximaNova;
	font-size: 15px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.47;
	letter-spacing: normal;
	text-align: left;
	color: #878787;
	padding: 22px 0 0 162px;
}
.prod__button {
	margin: 28px 0 0 162px;
}
.btn {
	width: 171px;
	height: 53px;
	font-size: 14px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 3.18;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
	border-radius: 4px;
	background-color: #ff8b00;

	padding: 5px 0 0 1px;
}

.prod__right {
	width: 724px;
	height: 452px;
	margin: 105px 0 0 93px;
}
.prod__script {
}

.ready {
	width: 100%;
	height: 218px;
	background-image: url(/img/Image\ Overlay.png);
	margin: 120px 0 0 0;
}
.ready__columns {
	display: flex;
	justify-content: space-between;
}
.ready__left {
	font-family: ProximaNova;
	font-size: 40px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.45;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
	margin: 100px 0 0 221px;
}
.ready__right {
	margin: 91px 226px 0 0px;
}
.ready__btn {
}
.btn {
}

.footer {
	width: 100%;
	height: 400px;
	background: url(/img/Vector\ Smart\ Object.png) 1490px 282px no-repeat, #363636;
}
.footer__columns {
	display: flex;
	padding: 40px 0 0 222px;
}
.footer__1 {
	position: relative;
	width: 300px;
	height: 295px;
}
.footer__twit {
	position: absolute;
}
.footer__2 {
	margin: 0 0 0 93px;
}
.footer__nav {
	font-family: ProximaNova;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.71;
	letter-spacing: 0.7px;
	text-align: left;
	color: #ffffff;
}
.bold {
	font-family: ProximaNova;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.56px;
	text-align: left;
	color: #ff8b00;
	margin: -2px 0 20px 16px;
}
.bold::before {
	content: "";
	background: url(/img/Polygon\ 3.png) no-repeat 50%;
	width: 9px;
	height: 10px;
	background-repeat: no-repeat;
	position: absolute;
	margin: 3px 0 0 -17px;
}
.footer__3 {
	margin: 0 0 0 131px;
}
.footer__link {
	font-family: ProximaNova;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.71;
	letter-spacing: 0.7px;
	text-align: left;
	color: #ffffff;
}
.footer__4 {
	margin: 0 0 0 83px;
}
.footer__cont {
	font-family: ProximaNova;
	font-size: 14px;
	font-weight: semibold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.71;
	letter-spacing: 0.7px;
	text-align: left;
	color: #ffffff;
}

.footer__info {
	width: 100%;
	height: 30px;
	background-color: #252525;
	margin: 50px 0 0 0;
}
.footer__text {
	font-family: Raleway;
	font-size: 10px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.4px;
	text-align: center;
	color: #9b9b9b;
	padding: 10px 0 0 0;
}
li {
	margin: -41px 0 0 0;
	text-align: left;
}
.footer__head {
	position: absolute;
	z-index: 8;
	margin: 19px 0 0 0px;
}
.footer__script {
	position: absolute;
	width: 300px;
	top: 75px;
	z-index: 1;
}
/* slider*/
.slick-track {
	display: flex;
	flex-direction: column;
}
.slick-list {
	overflow: hidden;
}
.slider {
	position: absolute;
	top: 300px;
	width: 300px;
	height: 100%;
	margin: 0 0 0 0px;
}
.slider__item img {
	object-fit: cover;
}
.slider__item {
	width: 300px;
	height: 100%;
	padding: 30px;
}
.slider .slick-arrow {
	display: none;
	font-size: 0;
}
.slick-dots {
	font-size: 0;
	list-style: none;
}
.slider .slick-dots {
	display: flex;
	flex-direction: column;
	list-style: none;
	margin: -142px 0 0 458px;
}
.slider .slick-dots [role] {
	list-style: none;
}
.slider .slick-dots li {
	list-style: none;

	padding: 15px;
	margin: -15px;
	background: url(/img/Polygon\ 1\ copy.png) 0 0 / 70% no-repeat;
}
/* Активная точка */
.slick-dots li.slick-active {
	list-style: none;

	background: url(/img/Polygon\ 1\ copy\ 2.png) 0 0 /70% no-repeat;
}
/* Элемент точки */
.slider .slick-dots li .slick-active button {
	font-size: 0;
	list-style: none;
}
.slider .slick-dots button {
	font-size: 0;
	left: 0;
	background: url(/img/Polygon\ 1\ copy.png) 0 0 / 100% no-repeat;
}

 {
	font-family: Proximanova;
}
.b-container {
	position: absolute;
	top: 2700px;
	left: 950px;
	width: 600px;
	height: 145px;
	background-color: transparent;

	padding: 10px;
	font-family: Raleway;
	font-size: 16.5px;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.34;
	letter-spacing: 1.65px;
	text-align: center;
	color: #ffffff;
}
span {
	font-family: Raleway;
	font-size: 32.5px;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.34;
	letter-spacing: 3.25px;
	text-align: center;
	color: #ffffff;
	margin: 170px 0 0 30px;
}
.b-container :hover {
	border: none;
}
.b-container__text {
	margin: 80px 0 0 0;
}
.b-popup {
	width: 100%;
	min-height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	overflow: hidden;
	position: fixed;
	top: 0px;
}
.b-popup .b-popup-content {
	margin: 240px auto;
	width: 700px;
	height: 440px;
	padding: 10px;
	background-color: #7050e5;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #000;
}
.hide {
	background-color: #7050e5;
	color: #ff8b00;
	font-size: 20px;
	margin: -40px 0 0 600px;
}
.hide:hover {
	border: none;
}
.b-popup-content {
	font-size: 25px;
	color: #ff8b00;
	font-family: ProximaNova;
	margin: 0 0 0 300px;
}
.show {
	position: absolute;
	font-size: 20px;
	margin: -20px 0 0 -42px;
}
a {
	margin: -20px 0 0 0;
}
.video {
	position: fixed;
	width: 665px;
	height: 370px;
	margin: -390px 0 0 620px;
}
